.header
{
	height: 200px;
	width: 100%;
	position: relative;
}

.header #body
{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 300px;
	width: 70%;
	background-color: orange;
	text-align:center;
	margin-top: auto;
	margin-bottom: auto;
}

.header #body h1
{

}

.header #nav
{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 300px;
	width: 30%;
	background-color: yellow;
}

.header #nav #nav_buttons
{
	margin: auto;
}

.main
{
	height: 800px;
	width: 1600px;
	position: relative;
	background-color: green;
}

.main #nav
{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 800px;
	width: 200px;
	background-color: red;
}

.main #body
{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 800px;
	width: 1400px;
	background-color: purple;
}

.footer
{
	height: 200px;
	width: 1600px;
	background-color: blue;
}
